<div class="container">
    <div class="menu">
        <button type="button" class="btn btn-md btn-default button-cursor" style="color:ivory"
            (click)="toggleDropDown()">Login</button>
        <div id="logindropdown" class="dropdown-content">
            <a data-toggle="modal" href="#login" (click)="identify($event)" id="User" >User</a>
            <a data-toggle="modal" href="#login" (click)="identify($event)" id="Mentor" >Mentor</a>
        </div>

    </div>

    <div class="modal" id="login">  
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal Header-->
                <div class="modal-header">

                    <h4 style="color: black" class="modal-title">Log In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>

                <!--Modal Body-->
                <form (ngSubmit)="onLogin()&&form.valid" #form="ngForm" novalidate>
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-xl-6">
                                <label style="color: black" for="username">UserName</label>
                                <input type="email" class="form-control" placeholder="Enter email" id="username"
                                    name="username" [(ngModel)]="model.username"
                                    #username="ngModel" [ngClass]="{'is-invalid':form.submitted && username.invalid}" required email />
                                <div *ngIf="form.submitted && username.invalid" class="invalid-feedback">
                                    <div *ngIf="username.errors.required">Username is required</div>
                                    <div *ngIf="username.errors.email">Enter user name in valid format</div>
                                    </div>


                            </div>
                        </div>
                        <br>
                        <div class="row form-group">
                            <div class="col-xl-6">
                                <label style="color: black" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Enter Password" id="password"
                                    name="password" [(ngModel)]="model.password"  #password="ngModel"
                                    [ngClass]="{'is-invalid':form.submitted && password.invalid}" required />
                                <div *ngIf="form.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div *ngIf="!identityService.routeStatus" class="error">
                            {{model.errorMessage}}
                        </div>
                        </div>


                        <!--Modal Footer-->
                        <div class="modal-footer form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>